name: Deploy to WSL

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Get code
      uses: actions/checkout@v3

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/github-actions-app .

    - name: Push image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/github-actions-app

    - name: Deploy into WSL
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/github-actions-app
          docker stop web || true
          docker rm web || true
          docker run -d -p 80:5000 --name web ${{ secrets.DOCKER_USERNAME }}/github-actions-app
